
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    isAdmin
                </th>
                <th>
                    Status
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.userBus)
            {
                <tr>
                    <td>
                        @item.UserID
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.UserID
                    </td>
                    <td>
                        @item.UserID
                    </td>
                    <td>
                        @item.UserID
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-userID="@item.UserID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

